
@{
    ViewBag.Title = "Bilgilendirme";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bildirim</title>
    <style>
        body {
            font-family: "Verdana"
        }
    </style>
</head>

<body>
    <div style="width: 900px; margin: 20px auto; border: 5px solid #ddd;">
        <div style="width: 100%; height: 150px; border-bottom: 3px solid #ddd;">
            <div style="float: left; color: #666; font-size: 12px; margin-top: 60px; margin-left: 30px;"><b>Firma: </b>OTAT GIDA</div>
            <div style="float: right; margin-top: 30px; margin-right: 25px;"><img src="~/Images/otatlogo.png" width="200"></div>

        </div>

        <div style="border: 1px solid #ddd; border-left: 2px solid #ddd; border-right: 2px solid #ddd; background: #f2f2f2; padding: 10px; margin-top: 25px; margin-bottom: 25px; margin-left: 15px; margin-right: 15px;">@ViewBag.Info</div>

        <div style="width: 870px; background: #f3f3f3; border-top: 2px solid #ddd; bottom: 0px; margin-bottom: 0px; padding: 15px; font-size: 12px; line-height: 25px;">

            <span style="color: blue;">AİF BİLİŞİM VE DANIŞMANLIK HİZMETLERİ LTD. ŞTİ.</span><br>
            <span style="color: #666;"><b>Adres: </b> 19 Mayıs Mah. İnönü Cad. Sümer Sok. Zitaş Plaza C2 Blok No:3-B/4 Kadıköy/İstanbul</span><br>
            <span style="color: #666;"><b>Tel: </b>+90 (216) 225 07 27 <b>Destek: </b>+90 (850) 223 07 27 <b>Whatsapp: </b>+90 (546) 648 02 05</span><br><br>
            <span style="color: #666;">2021 © Tüm hakları saklıdır.</span><br>
            <span style="color: #666;"><a href="https://www.linkedin.com/company/aifbilisim" target="_blank"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAEpAAABKQEpNbwyAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAPBQTFRF////AAD/AICAAIC/AICqAIC/AHm8AHW1AHu5AHS5AHi0AHW6AHm5AHm2AHq5AHS3AHi5AHe5AHm2AHi3AHa5AHe3AHi4AHW5AHe2AHa2AHe3AHa2AHi3AHi4AHe3AHi4AHa4AHa3AHa2AHe3AHa4AHa4AHa3AHe3AHi3AHe3AHe4AHe3AHi3AHi3AHe3AHe4AHe3AHa3AHe3AHi3AHe4AHa3AHa3AHe3AHe3AHe3AHi3AHe3AHe4AHe3AHe2AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3AHe3d2IQkQAAAE90Uk5TAAECBAYIExgdISIlKCosLjM6O0BFR0hMTVRYW2BkZ2hsbnB8fYiKjpGUlp+gpK2vsre4wMHExsfN0NHU1tja29zj5ufq7O3w8fP09/j7/kFDvvAAAADuSURBVDjL1dPFUgNRFEXRHSAEl+DeyAsSJKEhSOOeIPv//4ZBioJBy5gzXlX3vVv3UI4SM5NEZSJzE5HkgwRV24d75xkC1etBYCMHTALQyATtEgCrmeC9F4D17BHzAKXTbPBQhfJOziP9ujx+zvumV3Ecd/QzjuOW+tKs1Vt/wVkfMK0RwO7tOAATN79gH6CiswAzFboZ66SD3ywVgZ63dDBwdF8fAqCZDi7UEwC2UsGwqv0Aa6lgRdURgOVU0L2LKsBiDpj6f6ABMKoLAJuqzv2spHswByGEO30KIWx/qPoYQqi9qsXVKyxvUf2/ASEl1L/tALJxAAAAAElFTkSuQmCC"></a></span><br>

        </div>

    </div>
</body>
</html>
